.app_navbar_container {
    display: flex;
    /*background-color: #333346;*/
    background-color: #232327;
    font-family: 'Quicksand', sans-serif;
    flex-grow: 0;
    flex-shrink: 0;
}

.app_navbar_container nav a {
    padding: 14px 16px;
    display: flex;
    align-items: center;
    color: #d3d3d3;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
}
.app_navbar_container a p {
    display: inline-flex;
}
.app_navbar_container a:hover {
    color: rgb(224, 205, 79);
    background: rgba(75, 73, 126, 0.65);
}

.site_name {
    display: flex;
}
.site_name a {
    padding: 14px 12px 14px 16px;
    text-decoration: none;
    text-align: center;
    color: rgb(193 255 241);
    font-weight: bold;
    font-size: 1.5em;
}

.nav_items_container {
    display: flex;
    flex-grow: 1;
}
.nav_start, .nav_middle, .nav_end {
    display: flex;
}

.nav_start {
    width: 40%;
}

.nav_middle {
    min-width: 32%;
}

.nav_end {
    width: 28%;
    justify-content: end;
}

/*.icon_menu {*/
/*    display: none;*/
/*    position: relative;*/
/*    flex: 0 0 32px;*/
/*    height: 28px;*/
/*    flex-direction: column;*/
/*    justify-content: space-between;*/
/*}*/

/*.icon_menu::before,*/
/*.icon_menu::after {*/
/*    content: "";*/
/*    background: #cdcdcd;*/
/*    height: 4px;*/
/*    border-radius: 3px;*/
/*}*/

/*.icon_menu span {*/
/*    background: #cdcdcd;*/
/*    height: 4px;*/
/*}*/

.active_link {
    color: rgb(255, 175, 2) !important;
    /*background: rgb(39 39 39 / 65%) ;*/
    background: rgba(21, 21, 21, 0.65);
}

@media screen and (max-width: 1200px) {
    .app_navbar_container a {
        padding: 14px 18px;
    }
    .app_navbar_container a p {
        display: none;
    }
}
@media screen and (max-width: 1024px) {
    .app_navbar_container nav a {
        padding: 14px;
    }
    .site_name a {
        font-size: 1.1em;
        padding: 14px 0;
    }
}
@media screen and (max-width: 768px) {
    .site_name {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .nav_middle {
        justify-content: flex-end;
    }
    .app_navbar_container nav a {
        height: 24px;
        padding: 14px 12px
    }
    .nav_start, .nav_end {
        width: auto;
    }
    .nav_middle {
        min-width: 0;
        width: 100%;
    }
}

@media screen and (max-width: 320px) {

}