:root {
   --selected-image-background: url("../../../../../../public/upload_background.png") center center no-repeat;
}

.modal_children {
    display: flex;
    height: 80%;
    padding-bottom: 5px;
    justify-content: center;
}

.upload_label {
    background: var(--selected-image-background);
    cursor: pointer;
    width: 70%;
    position: relative;
}
.upload_label:before {
    content: "";
    display: block;
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    transition: background .5s;
}
.upload_label:hover:before {
    background: rgba(0, 0, 0, 0.13);
}

.upload_input_photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.upload_button {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.3em;
    background: #5dd1ff;
    padding: 10px;
    border: 0;
}
.upload_button:hover {
    background: #5dd1ffd6;
}

@media screen and (max-width: 1024px) {
    .upload_label {
        width: 80%;
    }
    .upload_button {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 768px) {
    .upload_label {
        width: 100%;
        font-size: 1em;
    }
}

@media screen and (max-width: 612px) {
    .modal_children {
        height: 75%;
    }
    .upload_button {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 480px) {
    .modal_children {
        height: 75%;
    }
}
