.page_body {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    background: #2e2e2e;
    color: aliceblue;
}

.setting_container {
    max-width: 600px;
    width: 100%;
    font-size: 1.5em;
    margin: 20px 10px;
}
.setting_container button {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: .7em;
    padding: 7px 15px;
    border: 0;
    cursor: pointer;
    border-radius: 20px;
    background-color: #5c5c5c;
    color: aliceblue;
}

.setting_item_container {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 10px 0;
    background-color: #474747;
    padding: 15px 10px 25px 15px;
    border-radius: 20px;
}