.app_footer_container {
    text-align: center;
    padding: 5px 0;
    font-size: 1.3em;
    /*background-color: #333346;*/
    background-color: #232327;
    color: #d3d3d3;
    font-family: "Swis721 WGL4 BT", serif;
    flex-grow: 0;
    flex-shrink: 0;
}